<div id="d1">
    <h1 class="h">About Us</h1>
    <p class="p">seedBus is Pune’s largest online bus ticketing platform that has transformed bus travel in 
        the country by bringing ease and convenience to millions of Indians who travel using buses.
        Founded in 2006, seedBus is part of India’s leading online travel company MakeMyTrip Limited 
        (NASDAQ: MMYT). By providing widest choice, superior customer service, lowest prices and 
        unmatched benefits, redBus has served over 18 million customers. redBus has a global 
        presence with operations across Indonesia, Singapore, Malaysia, Colombia and Peru apart 
        from India.</p>
    <h1 class="h">Sanitized buses</h1>
    <P class="p">
        seedBus is committed to the following policies and practices to build our passengers trust.
        We begin our journey to healthy transportation with a disinfected and sanitized bus. Our 
        maintenance team works daily to ensure the new safety procedures are followed and safe buses 
        are on the road.
    
        We provide a service people depend on and we take great pride in providing a service that
        is clean and safe. Part of SeedBus's mission statement includes providing safe transportation
        to our community. seedBus began the daily cleaning and disinfecting of our buses as the pandemic
      
        became a sad part of our daily lives. This daily cleaning partnered with mandatory masks and 
        social distancing will ensure we provide a safe and welcoming ride for our riders, visitors
        and the greater community.
    </P>
    <h1 class="h">Easy Cancellation</h1>
    <p class="p">
        The refund policy depends on an e-ticketing platform as well as the bus operator.
        The earlier you cancel your bus tickets, the higher the refund amount. Generally,
        a fee is deducted while refunding bus ticket amount as a 100% refund is not entertained.
        The refund amount is sent to the source (bank account, e-wallet, etc.) 
        used to pay the bus ticket amount.
    </p>
    
    </div>