<div id="dm">

    <div id="dp">
        <div class="cm">
            <h1>seedBus</h1>
        </div>
        <div id="ds">
            <div><span id="sp1">Latur</span><span id="sp2">To</span><span id="sp3">Pune</span></div>
            <div><span id="sp4">8:30pm</span><span id="sp5">12:30am</span></div>
            <div><img id="sc" src="../../assets/payemt.jpg" alt="Loading"></div><br>
            <div id="df">Amount to be Paid: 800</div><br>
            <div>
                <button type="submit" id="btn" (click)="bookticket()">Pay</button>
            </div>
        </div>
    </div>
</div>