<div id="dm">

    <div id="dp">
        <div class="cm">
            <h1>seedBus</h1>
        </div>
        <div id="ds">
            <div><span id="sp1">{{bus.busSource}}</span><span id="sp2">To</span><span id="sp3">{{bus.busDestination}}</span></div><br>
            <div><span id="sp4">{{bus.busDeparturetime}}</span><span id="sp5">{{bus.busArrivalTime}}</span></div><br>
            <div><img id="sc" src="../../assets/payemt.jpg" alt="Loading"></div><br>
            <div id="df">Amount to be Paid: {{bus.busFare}}</div><br>
            <div>
                <form (ngSubmit)="bookticketpay(myBooking)" #myBooking="ngForm">
                    <input type="number" name="busId" readonly hidden>
                    <input type="number" name="userId" readonly hidden>
                    <input type="number" name="bpuId" readonly hidden>
                    <input type="number" name="bookingFare" readonly hidden>
                    <input type="submit" value="Pay" id="btn">
                </form>
            </div>
        </div>
    </div>
</div>