<div>
    <table>
        <tr class="tr1">
            <th>FROM</th>
            <th>TO</th>
        </tr>
        <tr>
            <td>latur </td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>8:00 PM</td>
            <td>7:00 AM</td>
        </tr>
        <tr>
            <td>Pickup-Point<select>
                    <option value="Pickup-Point1">Pickup-Point1</option>
                    <option value="Pickup-Point2">Pickup-Point2</option>
                    <option value="Pickup-Point3">Pickup-Point3</option>
                    <option value="Pickup-Point4">Pickup-Point4</option>
                </select></td>
            <td>Drop-Point<select>
                    <option value="Drop-Point1">Drop-Point1</option>
                    <option value="Drop-Point2">Drop-Point2</option>
                    <option value="Drop-Point3">Drop-Point3</option>
                    <option value="Drop-Point4">Drop-Point4</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>800</td>
            <td>Seat No<select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Book Ticket</button></td>
        </tr>
    </table>
</div>
<!-- <div>
    <table>
        <tr class="tr1">
            <th>FROM</th>
            <th>TO</th>
        </tr>
        <tr>
            <td>{{i.busSource}} </td>
            <td>{{i.busDestination}}</td>
        </tr>
        <tr>
            <td>{{i.busDeparturetime}}</td>
            <td>{{i.busArrivaltime}}</td>
            
        </tr>
        <tr>
            <td>Pickup-Point<select>
                <option value="Pickup-Point1">{}</option>
                <option value="Pickup-Point2">Pickup-Point2</option>
                <option value="Pickup-Point3">Pickup-Point3</option>
                <option value="Pickup-Point4">Pickup-Point4</option>
            </select></td>
            <td>Drop-Point<select>
                <option value="Drop-Point1">Drop-Point1</option>
                <option value="Drop-Point2">Drop-Point2</option>
                <option value="Drop-Point3">Drop-Point3</option>
                <option value="Drop-Point4">Drop-Point4</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>{{i.busFare}}</td>
            <td>Seat No<select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Book Ticket</button></td>
        </tr>
    </table>
</div> -->
